.body1{
    padding-top: 2%;
    background: linear-gradient(to right,#9bf7f4,#707df7);
    overflow-x: hidden;
}
.img{
    background-image: none;
}
.row{
    border: 2px black;
}
.headline{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headphoto{
    width: 130%;
    height: 100%;   
}
.btn1{
    color: white;
    border-radius: 25px;
    padding: 1% 2% 1% 2%;
    width: auto;
}
.btn1:hover,.btn:focus{
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.1em);
}
