.body1{
    padding-top: 2%;
    background: linear-gradient(to right,#9bf7f4,#707df7);
    overflow-x: hidden;
}
.img{
    background-image: none;
}
.row{
    border: 2px black;
}
.headline{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headphoto{
    width: 130%;
    height: 100%;
    position: relative;
    right: -100px; /* Initial position outside the viewport */
    transition: right 2s ease-out; /* Transition property, duration, and easing function */
}
.btn1{
    color: white;
    border-radius: 25px;
    padding: 1% 2% 1% 2%;
    width: auto;
}
.btn1:hover,.btn:focus{
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.1em);
}
.headphoto.show {
    right: 0; /* Final position inside the viewport */
}
.headphoto2 {
    width: 130%;
    height: 100%;
    position: relative;
    opacity: 0.5; /* Initial opacity */
    transform: translateY(50%); /* Initial position below */
    transition: opacity 2s ease-out, transform 2s ease-out; /* Transition properties for opacity and position */
  }
  
  .headphoto2.show {
    opacity: 1; /* Final opacity */
    transform: translateY(0); /* Final position at the top */
  }
  .features{
    transition: transform .4s; /* Animation */
  }
.features:hover {
    transform: scale(1.1)
}